.button{
    width:130px;
    height:35px;
    float:right;
}
.buttons {
    width: 270; height: 30;
    margin-left: auto;
    margin-right: auto; 
    float:right;
    right: 10px;
}
@media screen and (max-width:500px) {
    .button{
        width:110px;
        height:30px;
        line-height: 20px;
        
    }
    .buttons {
        width: 230; height: 40;
        margin-left: auto;
        margin-right: auto; 
        right: 5px;
    }
}