.button{
    width:130px;
    height:40px;
    float:right;
    right: 10px;
}
@media screen and (max-width:500px) {
    .button{
        width:110px;
        height:30px;
        line-height: 20px;
        float:right;
    }
}